<header style="background-color: #003254;" class="navbar-main navbar navbar-dark bd-navbar px-3 {% if page.layout == "docs" %}bd-navbar--slim{% endif %}">
  <div class="container{% if page.layout == "docs" %}-fluid{% endif %}">
    <a class="navbar-brand py-2 text-decoration-none" href="{{ site.baseurl }}/" aria-label="Bootstrap Italia Homepage" title="Bootstrap Italia Homepage">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column pl-3 pl-sm-4">
          <h1 class="bd-logo-title">Documentazione Tecnica</h1>
        </div>
      </div>
    </a>

    {% if page.layout == "docs" %}
    <button class="btn btn-xs btn-primary d-md-none px-2 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      menu
    </button>
    {% endif %}

    <div class="navbar-brand">
      <strong>Copia della Documentazione di Bootstrap Italia <small class="pe-2 m-0">v{{ site.bootstrap_italia_version }}</small> ricompilata per Regione Lombardia</strong>
    </div>

    {% if page.layout == "docs" %}
      <div style="height: 2.5rem" class="bd-search w-100">
        <div id="docsearch"></div>
      </div>
    {% endif %}

  </div>
</header>
