{% assign buildTime = site.time | date: '%Y%m%d%H%M' %}
<!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
<script src="{{ site.baseurl }}/dist/js/bootstrap-lombardia.bundle.min.js?{{ buildTime }}"></script>
<script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/it.js"></script>
<script type="text/javascript" src="https://rawgit.com/grudus/Timepicker/master/dist/grudus-timepicker.es5.js"></script>
<!-- <script src="/node_modules/jquery/dist/jquery.js"></script> -->
<!--   <script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}'</script> -->

<script>
  bootstrap.loadFonts('{{ site.baseurl }}/dist/fonts')
  bootstrap.it25Header()
  new bootstrap.it25().gooeyRangeSlider(
    document.querySelector('#single-thumb'),
    {
      min: 0,
      max: 100,
      value: [0, 10],
      thumbsDisabled: [true, false],
      rangeSlideDisabled: false
    },
    1, (value) => console.log(value)
  )
  new bootstrap.it25().datepicker(document.querySelector('#calendar-multiple'), {
    allowInput: true,
    dateFormat: 'd/m/Y',
    locale: "it",
    mode: 'multiple'
  })
  new bootstrap.it25().datepicker(document.querySelector('#calendar-range'), {
    allowInput: true,
    dateFormat: 'd/m/Y',
    locale: "it",
    mode: 'range'
  })
  new bootstrap.it25().datepicker(document.querySelector('#calendar-single'), {
    allowInput: true,
    dateFormat: 'd/m/Y',
    locale: "it"
  })
  new bootstrap.it25().datepicker(document.querySelector('#time-picker'), {
    allowInput: true,
    enableTime: true,
    noCalendar: true,
    dateFormat: 'H:i',
    time_24hr: true
  })
  new bootstrap.it25().clockpicker()
</script>

{%- if page.layout == "default" or page.layout == "docs" -%}
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/anchor.min.js"></script>
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/tsparticles.min.js"></script>

<script src="{{ site.baseurl }}/docs/assets/src/js/docs.js?{{ buildTime }}"></script>

<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/tweenjs.min.js"></script>
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/easeljs.min.js"></script>
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/preloadjs.min.js"></script>

<script>
  var manifest = [
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-1.png', id: 'cover-1' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-2.png', id: 'cover-2' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-3.png', id: 'cover-3' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-4.png', id: 'cover-4' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-5.png', id: 'cover-5' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-6.png', id: 'cover-6' },
    { src: '{{ site.baseurl }}/docs/assets/img/cover/cover-animation-7.png', id: 'cover-7' },
  ]
</script>
<script src="{{ site.baseurl }}/docs/assets/src/js/cover-animation.js?{{ buildTime }}"></script>
{%- endif -%} {%- if page.layout == "docs" -%} {% comment %}La ricerca è gestita con Algolia DocSearch https://github.com/algolia/docsearch{% endcomment %}
<script src="{{ site.baseurl }}/docs/assets/src/js/vendor/docsearch.min.js"></script>
<script>
  docsearch({
    apiKey: 'a755e381c276458251a59282bae6ee93',
    indexName: 'bootstrap_italia',
    inputSelector: '#search-input',
    handleSelected: function (input, event, suggestion) {
      var url = suggestion.url
      url = suggestion.isLvl1 ? url.split('#')[0] : url
      // If it's a title we remove the anchor so it does not jump.
      window.location.href = url
    },
    debug: false, // Set debug to true if you want to inspect the dropdown
  })
</script>
{%- endif -%} {%- if page.layout == "base" -%}
<!-- Notification per tornare alla pagina principale -->
<div class="notification dismissable with-icon" role="alert" id="notification-esempi" aria-labelledby="notification-esempi-title">
  <h5 id="notification-esempi-title">
    <svg class="icon">
      <use href="{{ site.baseurl }}/dist/svg/sprites.svg#it-info-circle" xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-info-circle"></use></svg
    >Esempio di utilizzo
  </h5>
  <p>
    <a href="{{ site.baseurl }}/docs/esempi/">Torna alla pagina principale degli esempi</a>
  </p>
  <button type="button" class="btn notification-close">
    <svg class="icon">
      <use href="{{ site.baseurl }}/dist/svg/sprites.svg#it-close" xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-close"></use>
    </svg>
    <span class="visually-hidden">Chiudi notifica: Titolo notification</span>
  </button>
</div>

<script>
  /*$(document).ready(function () {
    notificationShow('notification-esempi')
  })*/
</script>
{%- endif -%}
