<div class="container-fluid app-naming my-5">
  <h4>App naming</h4>
  <div class="row my-4">
    <div class="col">
      <hr />
      <h6 class="f-bold">Importanza del nome</h6>
      <p>
        Il nome e il sottotitolo sono i primi fattori che incidono sull’indicizzazione dell’app e hanno un forte impatto sulla comunicazione con gli utenti. Il
        nome deve riflettere i vantaggi dell’app ed essere memorabile
      </p>
    </div>
    <div class="col">
      <hr />
      <h6 class="f-bold">Cosa verificare</h6>
      <p>
       <ul>
        <li>La sua disponibilità in AppStore, PlayStore e Huawei AppGallery</li>
        <li>La disponibilità di un nome di dominio per eventuale sito web o landing page</li>
        <li>La presenza del nome sul web</li>
       </ul>
      </p>
    </div>
  </div>
  <hr>
    <h6 class="my-4">Come identificare una proposta per il naming?</h6>
  <p>
    Si suggerisce di partire dalle principali funzionalità dell’app, individuando gli elementi caratterizzanti il servizio. Quali sono le parole chiave che più identificano il prodotto?
    Le logiche per la scelta del nome sono
    <ul>
      <li>Combinazione di nomi</li>
      <li>Nomi di attività/nomi di persone</li>
      <li> Etimologia delle parole</li>
    </ul>    
    Per trovare l’idea, può essere utile fare collegamenti e trovare concetti simili che riescano ad esprimere la proposta di valore in una sola parola.
  </p>
  <br>
</div>
