<div class="link-list-wrapper it25-menu-mobile">
  <ul class="link-list">
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Home</span>
      </a>
    </li>
    <li><span class="divider"></span></li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Voce 1</span>
      </a>
    </li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Voce 2</span>
      </a>
    </li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Voce 3</span>
      </a>
    </li>
    <li><span class="divider"></span></li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Note Legali</span>
      </a>
    </li>
    <li><span class="divider"></span></li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Informazioni</span>
      </a>
    </li>
    <li>
      <a href="#" class="list-item">
        <svg class="icon icon-xs">
          <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-image-gray"></use>
        </svg>
        <span class="text">Contatti</span>
      </a>
    </li>
  </ul>
</div>
