<nav class="toolbar it25-toolbar">
  <ul>
    <li>
      <a href="#" class="active">
        <svg class="icon icon-sm"><use href="{{site.baseurl}}/dist/svg/sprites.svg#it-home-circle"></use></svg>
        <span class="toolbar-label">Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-sm"><use href="{{site.baseurl}}/dist/svg/sprites.svg#it-wallet-circle"></use></svg>
        <span class="toolbar-label">Wallet</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-sm"><use href="{{site.baseurl}}/dist/svg/sprites.svg#it-user-circle"></use></svg>
        <span class="toolbar-label">Profilo</span>
      </a>
    </li>
  </ul>
</nav>
