<nav class="toolbar it25-toolbar-section">
  <ul>
    <li>
      <a href="#" class="active">
        <svg class="icon icon-sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-image"></use></svg>
        <span class="toolbar-label">Sezione 1</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-image"></use></svg>
        <span class="toolbar-label">Sezione 2</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-image"></use></svg>
        <span class="toolbar-label">Sezione 3</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="icon icon-sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-image"></use></svg>
        <span class="toolbar-label">Sezione 4</span>
      </a>
    </li>
  </ul>
</nav>
