<div class="bd-example-mobile md">
  <h3>Componenti</h3>
  <div class="row my-5">
    <div class="col">
      <div class="py-2">
        <div class="steppers it25-stepper-mobile-info neutral-3-bg">
          <nav class="steppers-nav it25-dynamic-footer">
            <button type="button" class="btn btn-primary btn-mobile-radius steppers-btn-next">Continua</button>
          </nav>
        </div>
      </div>
      <div class="py-2">
        <div class="steppers it25-stepper-mobile-info neutral-3-bg">
          <nav class="steppers-nav it25-dots">
            <ul class="steppers-dots d-flex">
              <li class="done first"><span class="visually-hidden">Step 1 di 6 - Confermato</span></li>
              <li class="done other"><span class="visually-hidden">Step 2 di 6 - Confermato</span></li>
              <li class="done other"><span class="visually-hidden">Step 3 di 6 - Confermato</span></li>
            </ul>
          </nav>
          <nav class="steppers-nav">
            <button type="button" class="btn btn-outline-primary btn-mobile-radius steppers-btn-prev">
              <svg class="icon icon-primary"><use href="{{site.baseurl}}/dist/svg/sprites.svg#it-chevron-left"></use></svg>Indietro
            </button>
            <button type="button" class="btn btn-primary btn-mobile-radius steppers-btn-next">
              Avanti<svg class="icon icon-primary"><use href="{{site.baseurl}}/dist/svg/sprites.svg#it-chevron-right"></use></svg>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
