<div class="steppers it25-stepper-mobile-info it25-dynamic white-bg p-2">
  <div class="steppers-content it25-flex-center" aria-live="polite">
    <!-- Esempio START -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span class="f-30 fw-bold primary-blue-color">Titolo</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pe-0 mb-3 f-16 pe-md-3 primary-blue-color">Testo</div>
      </div>
    </div>
    <!-- Esempio END -->
  </div>
  <nav class="steppers-nav it25-dots">
    <ul class="steppers-dots d-flex">
      <li class="done current"><span class="visually-hidden">Step 1 di 3 - Confermato</span></li>
      <li class="done other"><span class="visually-hidden">Step 2 di 3 - Confermato</span></li>
      <li class="done other"><span class="visually-hidden">Step 3 di 3 - Confermato</span></li>
    </ul>
  </nav>
  <nav class="steppers-nav it25-dynamic-footer">
    <button type="button" class="btn btn-primary btn-mobile-radius steppers-btn-next">Continua</button>
    <a class="mt-3 steppers-btn-jumping fw-bold" href="#">Salta</a>
  </nav>
</div>
