<div class="row">
  <div class="col-xs-12">{% include html_docs_mobile/profile/profile.html display='d-none' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/info-box-anagrafica.html %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/info-box.html display="d-block" %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    {% include html_docs_mobile/profile/interactive-card.html displaySvg=true displayCircle=false icon1='it-file-save' icon2='it-external-link-fill'
    text='Termini di utilizzo' %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/interactive-card.html displaySvg=false displayCircle=true text='Titolo' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/info-list.html %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/exit.html %}</div>
</div>
