<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <div class="card-title header">
        <span class="title">ANAGRAFICA</span>
      </div>
      <p class="card-text">
        <label class="form-box"> <span class="me-2 title">Sesso:</span> <span>Maschio</span> </label>
        <label class="form-box"> <span class="me-2 title">Data di nascita:</span> <span>15/02/1989</span> </label>
        <label class="form-box"> <span class="me-2 title">Comune di nascita:</span> <span>Milano</span> </label>
      </p>
    </div>
  </div>
</div>
