<div class="card-wrapper it25-info-list">
  <div class="card">
    <div class="accordion" id="accordionExample1{{include.id_suff}}">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading1{{include.id_suff}}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse1{{include.id_suff}}"
            aria-expanded="false"
            aria-controls="collapse1{{include.id_suff}}"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse1{{include.id_suff}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample1{{include.id_suff}}" role="region" aria-labelledby="heading1">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2{{include.id_suff}}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse2{{include.id_suff}}"
            aria-expanded="false"
            aria-controls="collapse2{{include.id_suff}}"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse2{{include.id_suff}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample1{{include.id_suff}}" role="region" aria-labelledby="heading2{{include.id_suff}}">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3{{include.id_suff}}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse3{{include.id_suff}}"
            aria-expanded="false"
            aria-controls="collapse3{{include.id_suff}}"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse3{{include.id_suff}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample1{{include.id_suff}}" role="region" aria-labelledby="heading3{{include.id_suff}}">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
