<div class="card-wrapper it25-info-list">
  <div class="card">
    <div class="accordion" id="accordionExample1">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse1"
            aria-expanded="false"
            aria-controls="collapse1"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region" aria-labelledby="heading1">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse2"
            aria-expanded="false"
            aria-controls="collapse2"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region" aria-labelledby="heading2">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            LOREM IPSUM
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region" aria-labelledby="heading3">
          <div class="accordion-body">
            Vestibulum hendrerit ultrices nibh, sed pharetra lacus ultrices eget. Morbi et ipsum et sapien dapibus facilisis. Integer eget semper nibh. Proin
            enim nulla, egestas ac rutrum eget, ullamcorper nec turpis.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
