<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <ul class="list-box">
        <li class="me-3">
          {% if include.displaySvg %}
          <svg class="icon icon-sm icon-primary">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#{{include.icon1}}"></use>
          </svg>
          {% endif %} {% if include.displayCircle %}
          <div class="circle"></div>
          {% endif %}
        </li>
        <li class="textbox">
          <span class="text">{{include.text}}</span>
        </li>
        {% if include.displaySvg %}
        <li class="link">
          <button class="btn-link" aria-label="vai alla voce">
            <svg class="icon icon-xs">
              <use href="{{site_baseurl}}/dist/svg/sprites.svg#{{include.icon2}}"></use>
            </svg>
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
