<div class="card-wrapper it25-profile">
  <div class="card header">
    <div class="card-body">
      <div class="card-title">
        <div class="icon-user me-2">
          <svg class="icon icon-lg icon-white">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#it-user"></use>
          </svg>
        </div>
        <span class="user-info">Mario Rossi</span>
        <span class="user-email">mariorossi@lispa.it</span>
      </div>
      <p class="card-text user-button {{include.display}}">
        <button type="button" class="btn white-bg">
          <svg class="icon icon-primary ms-1">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#it-pencil"></use>
          </svg>
          <span>Modifica</span>
        </button>
      </p>
    </div>
  </div>
</div>
