<div class="card-auth">
  <div class="card-wrapper card-space">
    <div class="card card-bg">
      <div class="card-body">
        <h3 class="card-title">
          <span> Codice di Sicurezza </span>
        </h3>
        <div class="card-text it25-img py-2">
          <svg class="icon icon-lg icon-white">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#it-telephone-key"></use>
          </svg>
        </div>
        <div class="card-text it25-title py-3">Inserisci il codice di sicurezza</div>
        <div class="card-input">
          <input type="text" data-bs-input id="inputNumber{{include.id_suff}}" name="inputNumber{{include.id_suff}}" aria-label="numero di codice"/>
          <a class="simple-link" href="#">Vuoi reimpostare il codice? </a>
        </div>
        <div class="it-card-footer">
          <a class="btn btn-primary" href="#"> Accedi</a>
        </div>
      </div>
    </div>
  </div>
</div>
