<div class="card-spid">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span>Accedi con la tua identità digitale</span>
        </div>
        <div class="card-text it25-btn">
          <button class="btn btn-spid btn-icon btn-me">
            <div class="spid me-2">
              <svg class="icon">
                <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-user"></use>
              </svg>
            </div>
            <span class="enter">Entra con SPID</span>
          </button>
        </div>
        <div class="card-text it25-img py-2">
          <img src="{{site.baseurl}}/dist/assets/img/agis-mobile.png" alt="spid" />
        </div>
        <div class="it25-divider"></div>
        <div class="card-text it25-accesso-code">Oppure utilizza altri metodi di accesso</div>
      </div>
    </div>
  </div>
</div>
