/*! @docsearch/css 3.5.1 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */
:root {
  --docsearch-primary-color: #297a38;
  --docsearch-searchbox-background: white;
  --docsearch-muted-color: shade-color(#7f8497, 10%);
}
.DocSearch-Button {
  border-radius: 0;
  height: 2.5rem;
  margin: 0;
  width: 100%;
}
