/*! @docsearch/css 3.5.1 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */
:root {
    --docsearch-primary-color: #297A38;
    --docsearch-searchbox-background: white;
}
.DocSearch-Button {
    border-radius: 0;
    height: 2.5rem;
    margin: 0;
    width: 100%;
}
