.bd-sidebar {
  .link-list,
  .link-sublist,
  .list-item span {
    font-size: 1rem;
  }
}

.bd-example {
  background-color: $white;
}

.bd-callout-info {
  border-left-color: $info;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $info;
  }
  .icon-info {
    fill: $info;
  }
}

.bd-callout-warning {
  border-left-color: #d77f1d;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #d77f1d;
  }
  .icon-warning {
    fill: #d77f1d;
  }
}

.bd-callout-danger {
  border-left-color: $danger;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $danger;
  }
  .icon-danger {
    fill: $danger;
  }
}

.horizontal-scroll-example {
  width: 21rem;
}

.example-card-sm {
  width: 100px;
  height: 80px;
}

.overlay-test {
  width: 100%;
  position: relative;
  height: 100%;
  background: #7792a3;
  .overlay-content {
    position: relative;
  }

  .overlay-footer a {
    padding: 10px;
  }
}

.rounded-color {
  height: 50px;
  min-width: 150px;
  box-sizing: border-box;
  padding: 0.25rem;
  margin-right: 15px;
  border-radius: 8px;
}

.border-custom {
  border: 1px solid #505051;
}

.rounded-card {
  box-shadow: 0px 8px 13px rgba(0, 51, 84, 0.1);
  border-radius: 8px;
  height: 90px;
  background: #ffffff;
  color: $primary-blue;
}

.rounded-card-negative {
  border-radius: 8px;
  height: 90px;
  background: #ffffff;
  color: $primary-blue;
}

.autocomplete-list-example {
  display: block;
  position: relative;
}
