<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <label class="f-21 primary-color fw-bold">Aiuto</label>
      <label class="f-14 fw-bold">Consulta le domande frequenti</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/input-search.html %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-20 fw-bold">FAQ</li>
        <li class="f-20 fw-bold">Vedi tutte</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/card-image.html text=true %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-20 fw-bold">Percorsi Guidati</li>
        <li class="f-20 fw-bold">Vedi tutte</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/survey.html text='Come registrarsi al servizio X' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/survey.html text='Come richiedere lo spid' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/survey.html text='Funzioni dell’applicazione' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-20 fw-bold">Contatti diretti</li>
        <li class="f-20 fw-bold"></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Azione' %}</div>
  <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Azione' %}</div>
  <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Azione' %}</div>
</div>
