<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <label class="f-21 primary-color fw-bold">Aiuto</label>
      <label class="f-14 fw-bold">Consulta le domande frequenti</label>
      <label class="f-24 primary-color fw-bold">FAQ</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/profile/info-list.html id_suff='03' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <label class="f-14 fw-bold">Non hai trovato quello che cercavi?</label>
      <label class="f-14 fw-bold">Contattaci</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <button type="button" class="btn btn-primary btn-mobile-radius">Inviaci un messaggio</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/green-number.html %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <label class="f-14">Dal lunedì al sabato, dalle 8.00 alle 20.00</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <label class="f-21 primary-color fw-bold">Altro</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">{% include html_docs_mobile/assistance/survey.html icon=true text='Compila il questionario di gradimento' %}</div>
</div>
