<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <ul class="list-box">
        <li class="me-3">
          <div class="icon-circle">
            <svg class="icon icon-sm auth primary-blue-fill">
              <use href="{{site_baseurl}}/dist/svg/sprites.svg#it25-telephone"></use>
            </svg>
          </div>
        </li>
        <li class="textbox auth-box">
          <span class="text">Chiama il numero verde</span>
          <span class="number">800.000.000</span>
        </li>
      </ul>
    </div>
  </div>
</div>
