<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <ul class="list-box">
        {% if include.icon %}
        <li class="me-3">
          <div class="icon-circle">
            <svg class="icon icon-sm auth primary-blu-fill" alt="">
              <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-block-notes"></use>
            </svg>
          </div>
        </li>
        {% endif %}
        <li class="textbox">
          <span class="text">{{include.text}}</span>
        </li>
        <li class="link">
          <button class="btn btn-primary btn-circle" aria-label="Vai al questionario">
            <svg class="icon icon-white icon-sm me-2">
              <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
