<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-30 fw-bold">Titolo</li>
        <li class="f-20 fw-bold"></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/assistance/input-search.html %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/sections/section-card.html icon=true text='Lorem ipsum' %}</div>
</div>
