<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-30 fw-bold">Titolo</li>
        <li class="f-20 fw-bold"></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mt-3">{% include html_docs_mobile/assistance/card-image.html text=true %}</div>
</div>
<div class="row">
  <div class="col-xs-12 px-4 py-2">
    <div class="container-mobile">
      <ul class="section">
        <li class="f-30 fw-bold">Titolo</li>
        <li class="f-20 fw-bold"></li>
      </ul>
    </div>
  </div>
</div>
<div class="horizontal-scroll-example">
  <div class="row">
    <div class="col-4">
      <span class="primary-blue-color f-14"> {% include html_docs_mobile/assistance/card-image-lg.html %} Lorem ipsum </span>
    </div>
    <div class="col-4"><span class="primary-blue-color f-14"> {% include html_docs_mobile/assistance/card-image-lg.html %} Lorem ipsum </span></div>
    <div class="col-4"><span class="primary-blue-color f-14"> {% include html_docs_mobile/assistance/card-image-lg.html %} Lorem ipsum </span></div>
  </div>
</div>
<div class="horizontal-scroll-example">
  <div class="row">
    <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Titolo Sezione' %}</div>
    <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Titolo Sezione' %}</div>
    <div class="col-4">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Titolo Sezione' %}</div>
  </div>
</div>
