<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <div class="card-title it25-box-header">
        <span class="title">{{include.text}}</span>
        <span class="f-16">19/05</span>
      </div>
      <div class="card-text it25-box-body">
        <span class="text"> Lorem ipsum dolor sit amet </span>
        <button class="action" aria-label="foo">
          <svg class="icon">
            <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
