<div class="row my-3">
  <div class="col-3">
    <strong>Dimensione Massima</strong>
  </div>
  <div class="col">
    <svg class="icon ios-icon xl"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-check-circle"></use></svg>
  </div>
</div>
<div class="row my-3">
  <div class="col-3">
    <strong>Dimensione App Store</strong>
  </div>
  <div class="col">
    <svg class="icon ios-icon lg"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-check-circle"></use></svg>
  </div>
</div>
<div class="row my-3">
  <div class="col-3">
    <strong>Dimensione galleria</strong>
  </div>
  <div class="col">
    <svg class="icon ios-icon"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-check-circle"></use></svg>
  </div>
</div>
<div class="row my-3">
  <div class="col-3">
    <strong>Dimensione notifica</strong>
  </div>
  <div class="col">
    <svg class="icon ios-icon sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-check-circle"></use></svg>
  </div>
</div>
<div class="row my-3">
  <div class="col-3">
    <strong>Dimensione notifica (badge)</strong>
  </div>
  <div class="col">
    <svg class="icon ios-icon xs"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-check-circle"></use></svg>
  </div>
</div>
