<div class="row">
  <div class="col">
    <img src="{{ site.baseurl }}/docs/assets/img/preview/preview-ios-icon.png" alt="sì" />
    <img src="{{ site.baseurl }}/docs/assets/img/preview/preview-ios-icon2.png" alt="sì" />
    <img src="{{ site.baseurl }}/docs/assets/img/preview/preview-ios-icon3.png" alt="sì" />
  </div>
  <div class="col">
    <img src="{{ site.baseurl }}/docs/assets/img/preview/preview-android-icon.png" alt="sì" />
    <img src="{{ site.baseurl }}/docs/assets/img/preview/preview-android-icon2.png" alt="sì" />
  </div>
</div>
