<section class="it25-section-mobile" aria-describedby="titleEx1">
  <div class="section-content">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12">
          <span class="f-30 fw-bold">Titolo del contenuto della pagina di dettaglio</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pe-0 mb-3 font-serif f-16 pe-md-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum."
        </div>
      </div>
    </div>
  </div>
</section>
