<section class="it25-section-mobile" aria-describedby="titleEx1">
  <div class="section-content">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12">
          <img src="{{ site.baseurl }}/dist/assets/img/image-bg.png" alt="foo" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <span class="f-30 fw-bold">Lorem ipsum dolor</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pe-0 mb-3 font-serif f-16 pe-md-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="row">
        <div class="col-4">{% include html_docs_mobile/detail/card-green-image.html %}</div>
        <div class="col-4">{% include html_docs_mobile/detail/card-green-image.html %}</div>
        <div class="col-4">{% include html_docs_mobile/detail/card-green-image.html %}</div>
      </div>
    </div>
  </div>
</section>
