<div class="icon-circle-shadow m-4">
  <svg class="icon icon-xl"><use href="{{ site.baseurl }}/dist/svg/sprites.svg#it-shield"></use></svg>
</div>
<div class="f-21 primary-color fw-bold p-4">Leggi e accetta l’informativa privacy e i termini di utilizzo del servizio [NOME SERVIZIO]</div>
<div class="it25-card-conditions">
  <div class="it25-scroll scroll-card-mobile">
    <div class="conditions-body">
      <div class="conditions-title">
        <span> Informativa privacy</span>
        <div class="form-check">
          <div class="toggles">
            <label for="toogleOff1">
              <input type="checkbox" id="toogleOff1" />
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
      <p class="conditions-text divider-1">
        Lorem ipsum dolor sit amet consectetur. Nibh proin nulla tempor tortor sit. Tellus diam amet euismod urna aliquam. Sit risus dolor vestibulum augue
        purus molestie ornare lectus id. Risus quis vitae ac egestas enim. Ut varius turpis nulla neque eu. Et vitae gravida fermentum pharetra.
      </p>
    </div>
    <div class="conditions-body">
      <div class="conditions-title">
        <span> Termini di utilizzo</span>
        <div class="form-check">
          <div class="toggles">
            <label for="toogleOff2">
              <input type="checkbox" id="toogleOff2" />
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>
      <p class="conditions-text">
        Lorem ipsum dolor sit amet consectetur. Nibh proin nulla tempor tortor sit. Tellus diam amet euismod urna aliquam. Sit risus dolor vestibulum augue
        purus molestie ornare lectus id. Risus quis vitae ac egestas enim. Ut varius turpis nulla neque eu. Et vitae gravida fermentum pharetra.
      </p>
    </div>
  </div>
</div>
