<div class="splash gray {{include.relative}}">
  <div class="splash-header">
    <div class="p-2">
      <img src="{{site_baseurl}}/dist/assets/img/icon-img.png" alt="foo" />
      <span class="h3 splash-text"> Nome del servizio</span>
    </div>
  </div>
  <div class="splash-footer">
    <div class="p-2">
      <img src="{{site_baseurl}}/dist/assets/img/logo-rl.png" width="120" alt="logo regione lombardia" />
    </div>
  </div>
</div>

{% if include.script %}
<script>
  var splashScreen1 = document.querySelector('.splash.gray')
  splashScreen1.addEventListener('click', () => {
    splashScreen1.style.opacity = 0
    setTimeout(() => {
      splashScreen1.classList.add('hidden')
    }, 610)
  })
</script>
{% endif%}
