<div class="splash green bg-device-radiant {{include.relative}}">
  <div class="splash-header">
    <div class="p-2">
      <img src="{{site.baseurl}}/dist/assets/img/icon-img-white.png" alt="foo" />
    </div>
    <div class="p-2 mt-2">
      <h3 class="splash-text">Nome del servizio</h3>
    </div>
  </div>
  <div class="splash-footer">
    <div class="p-2">
      <img src="{{site.baseurl}}/dist/assets/img/logo-rl-bianco.png" width="120" alt="logo regione lombardia" />
    </div>
  </div>
</div>

{% if include.script %}
<script>
  var splashScreen2 = document.querySelector('.splash.green')
  splashScreen2.addEventListener('click', () => {
    splashScreen2.style.opacity = 0
    setTimeout(() => {
      splashScreen2.classList.add('hidden')
    }, 610)
  })
</script>
{% endif%}
