<div class="form-row">
  <div class="form-group col-md-6">
    <input type="email" class="form-control" id="inputEmail4" placeholder="inserisci il tuo indirizzo email">
    <label for="inputEmail4">Email</label>
  </div>
  <div class="form-group col-md-6">
    <input type="password" class="form-control input-password" id="exampleInputPassword" placeholder="inserisci la tua password">
    <span class="password-icon" aria-hidden="true">
      <svg class="password-icon-visible icon icon-sm"><use xlink:href="/dist/svg/sprite.svg#it-password-visible"></use></svg>
      <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="/dist/svg/sprite.svg#it-password-invisible"></use></svg>
    </span>
    <label for="exampleInputPassword">Password</label>
  </div>
</div>
  
