<div class="row">
  <div class="form-group col-md-6">
    <input type="email" class="form-control" id="inputEmail2" placeholder="inserisci il tuo indirizzo email" />
    <label class="active" for="inputEmail2">Email</label>
  </div>
  <div class="form-group col-md-6">
    <input type="password" class="form-control input-password" id="exampleInputPassword2" placeholder="inserisci la tua password" />
    <span class="password-icon" aria-hidden="true">
      <svg class="password-icon-visible icon icon-sm"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-password-visible"></use></svg>
      <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-password-invisible"></use></svg>
    </span>
    <label class="active" for="exampleInputPassword2">Password</label>
  </div>
</div>
