<div class="row">
  <div class="form-group col-md-6">
    <label class="active" for="inputEmail3">Email</label>
    <input type="email" class="form-control" id="inputEmail3" placeholder="" autocomplete="email"/>
  </div>
  <div class="form-group col-md-6">
    <label class="active" for="exampleInputPassword3">Password</label>
    <input type="password" data-bs-input class="form-control input-password" id="exampleInputPassword3" placeholder=""
      autocomplete="current-password"/>
    <button type="button" class="password-icon btn" role="switch" aria-checked="false">
      <span class="visually-hidden">Mostra/Nascondi Password</span>
      <svg class="password-icon-visible icon icon-sm" role="presentation">
        <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-password-visible"></use>
        </svg>
      <svg class="password-icon-invisible icon icon-sm d-none" role="presentation">
        <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-password-invisible"></use>
      </svg>
    </button>
  </div>
</div>
