<div class="row">
  <div class="form-group col-md-6">
    <input type="email" class="form-control" id="inputEmail4" placeholder="inserisci il tuo indirizzo email" />
    <label for="inputEmail4" class="active">Email</label>
  </div>
  <div class="form-group col-md-4">
      <label for="passwd1">Password con label e testo di aiuto</label>
      <input type="password" data-bs-input class="form-control input-password" id="passwd1" aria-labelledby="infoPassword1" />
      <span class="password-icon" aria-hidden="true">
        <svg class="password-icon-visible icon icon-sm"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-password-visible"></use></svg>
        <svg class="password-icon-invisible icon icon-sm d-none"><use href="{{site_baseurl}}/dist/svg/sprites.svg#it-password-invisible"></use></svg>
      </span>
      <small id="infoPassword1" class="form-text">Inserisci almeno 8 caratteri</small>
  </div>
  <div class="form-group col-md-2">
    <label class="output">Ticket</label>
    <div class="output-field">AC-123-0002658</div>
  </div>
</div>
