<div class="it25-barra-utente">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <svg class="icon icon-primary icon-xs"><use xlink:href="/dist/svg/sprite.svg#it-user"></use></svg>
        <span class="font-weight-light">Utente: </span><span class="font-weight-semibold">Mario Rossi</span>
        <span class="font-weight-light"> C.F.: </span><span class="font-weight-semibold">RSSMRA62A29I754</span>
      </div>
      <div class="col-6 text-right">
        <svg class="icon icon-primary icon-xs"><use xlink:href="/dist/svg/sprite.svg#it-user"></use></svg>
        <span class="font-weight-light">Operatore: </span><span class="font-weight-semibold">TEST ESAR2 </span>
        <span class="font-weight-light">Ruolo: </span><span class="font-weight-semibold">ADMIN</span>
      </div>
    </div>
  </div>
</div>
