<div class="it-header-center-wrapper it25-barra-ist">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">

            <div class="it25-hamburger-btn-wrapper">
              <button aria-controls="nav10" aria-expanded="false" aria-controls="nav10"
                      aria-label="Apri menù" class="custom-navbar-toggler btn btn-xs it25-btn-menu"
                      data-target="#nav10" type="button">
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-burger"></use>
                </svg>
              </button>

              <div class="it25-close-div">
                <button class="btn btn-xs close-menu" type="button" data-target="#nav10" aria-controls="nav10" aria-label="Chiudi menù" >
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-close-big"></use>
                  </svg>
                </button>
              </div>
            </div>

            <a href="#">
              <img src="{{ site.baseurl }}/dist/assets/img/logo-rl.png" alt="logo regione lombardia" class="it25-header-logo d-none d-md-block">
              <div class="it-brand-text">
                ACRONIMO Nome applicativo
              </div>
            </a>
          </div> <!-- end it-brand-wrapper -->

          <div class="it-right-zone">
            <div class="it-search-wrapper">
              <input class="form-control d-none d-lg-flex mr-sm-2 ml-auto" type="search" placeholder="Cerca" aria-label="Testo per ricerca">
              <button class="btn p-0 m-1" type="submit" aria-label="Esegui ricerca">
                <svg class="icon"><use xlink:href="/dist/svg/sprite.svg#it-search"></use></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
