<div class="card">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <figure class="img-wrapper">
        <img src="{{ site.baseurl }}/dist/assets/img/bike-sharing.jpg" title="bike sharing" alt="parcheggio bike sharing a Milano">
      </figure>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>
