<div class="row">
  <div class="col">
    <label class="fw-semibold me-5">Mezzi utilizzati:</label>
    <div class="form-check form-check-inline">
      <input id="checkbox6" type="checkbox" />
      <label for="checkbox6">Auto propria</label>
    </div>
    <div class="form-check form-check-inline">
      <input id="checkbox7" type="checkbox" />
      <label for="checkbox7">Treno</label>
    </div>
    <div class="form-check form-check-inline">
      <input id="checkbox8" type="checkbox" disabled />
      <label for="checkbox8">Car sharing</label>
    </div>
    <div class="form-check form-check-inline">
      <input id="checkbox10" type="checkbox" checked="checked" />
      <label for="checkbox10">Bike sharing</label>
    </div>
    <div class="form-check form-check-inline">
      <input id="checkbox9" type="checkbox" checked="checked" disabled />
      <label for="checkbox9">Metro/Tram/Bus</label>
    </div>
  </div>
</div>
