<div class="row">
  <div class="col">
    <div class="form-group">
      <fieldset id="group_mezzi0">
        <legend>Mezzi utilizzati</legend>
        <div class="form-check form-check-inline">
          <input id="checkbox6" type="checkbox" />
          <label for="checkbox6">Auto propria</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="checkbox7" type="checkbox" />
          <label for="checkbox7">Treno</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="checkbox8" type="checkbox" disabled />
          <label for="checkbox8">Car sharing</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="checkbox10" type="checkbox" checked="checked" />
          <label for="checkbox10">Bike sharing</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="checkbox9" type="checkbox" checked="checked" />
          <label for="checkbox9">Metro/Tram/Bus</label>
        </div>
      </fieldset>
    </div>
  </div>
</div>
