<div class="form-row mt-5 mt-md-0">
  <div class="col-md-4 col-xl-3">
    <div class="it-datepicker-wrapper">
      <div class="form-group">
        <input class="form-control it-date-datepicker" id="data_nascita" type="text" placeholder="gg/mm/aaaa">
        <label for="data_nascita">Data di nascita</label>
      </div>
    </div>  
  </div>  
  <div class="col-md-4 offset-xl-3 col-xl-3">
    <div class="it-datepicker-wrapper">
      <div class="form-group">
        <input class="form-control it-date-datepicker" id="data_da" type="text" placeholder="gg/mm/aaaa">
        <label for="data_da">Periodo da</label>
      </div>
    </div>  
  </div>  
  <div class="col-md-4 col-xl-3">
    <div class="it-datepicker-wrapper">
      <div class="form-group">
        <input class="form-control it-date-datepicker" id="data_a" type="text" placeholder="gg/mm/aaaa">
        <label for="data_a">a</label>
      </div>
    </div>  
  </div>  
</div>
  
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#data_nascita').datepicker({
      inputFormat: ["dd/MM/yyyy"],
      outputFormat: 'dd/MM/yyyy',
      modal: true,
    });
    $('#data_da').datepicker({
      inputFormat: ["dd/MM/yyyy"],
      outputFormat: 'dd/MM/yyyy',
      next: '#data_a',
    });
    $('#data_a').datepicker({
      inputFormat: ["dd/MM/yyyy"],
      outputFormat: 'dd/MM/yyyy',
      previous: '#data_da',
    });
  })
</script>
