<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 my-4 fw-bold">
        ACCREDITAS Sistema di accreditamento
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li class="list-item"><a href="">Privacy</a></li>
            <li class="list-item"><a href="">Accessibilità</a></li>
            <li class="list-item"><a href="">Cookie policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li class="list-item"><a href="">Note legali</a></li>
            <li class="list-item"><a href="">Contatti</a></li>
            <li class="list-item"><a href="">Credits</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li class="list-item"><a href="">Voce 7</a></li>
            <li class="list-item"><a href="">Voce 8</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-3">
        <span class="d-inline-block">&copy; Copyright Regione Lombardia</span>
        <span class="d-inline-block"> - tutti i diritti riservati</span>
        <span class="d-inline-block"> - C.F. 80050050154</span>
        <span class="d-inline-block"> - Piazza Città di Lombardia 1</span>
        <span class="d-inline-block"> - 20124 Milano</span>
      </div>
    </div>
  </div>
</footer>
