<div class="it25-wizard">
  <ul>
    <li class="it-pin-wrapper confirmed">
      <span class="visually-hidden">Scelta periodo</span>
      <span class="visually-hidden">Confermato</span>
      <span class="pin-icon" data-bs-toggle="tooltip" data-placement="top" title="Periodo">
        <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-search"></use></svg>
      </span>
    </li>
    <li class="it-pin-wrapper active">
      <span class="visually-hidden">Tipologia alloggio</span>
      <span class="visually-hidden">Attivo</span>
      <span class="pin-icon" data-bs-toggle="tooltip" data-placement="top" title="Tipologia">
        <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-calendar"></use></svg>
      </span>
    </li>
    <li class="it-pin-wrapper error">
      <span class="visually-hidden">Optionals</span>
      <span class="visually-hidden">Errore</span>
      <span class="pin-icon" data-bs-toggle="tooltip" data-placement="top" title="Optionals">
        <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-list"></use></svg>
      </span>
    </li>
    <li class="it-pin-wrapper">
      <span class="visually-hidden">Pagamento</span>
      <span class="pin-icon" data-bs-toggle="tooltip" data-placement="top" title="Pagamento">
        <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-card"></use></svg>
      </span>
    </li>
  </ul>
</div>
