<div class="my-1">
  <nav class="pagination-wrapper" aria-label="paginazione">
    <div class="font-weight-bold neutral-2-color-b5 align-self-center d-none d-md-flex">24 di 50 pagine</div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">
          <svg class="icon icon-primary"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-chevron-left"></use></svg>
          <span class="sr-only">Pagina precedente</span>
        </a>
      </li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">1</a></li>
      <li class="page-item d-none d-sm-flex">
        <span class="page-link">...</span>
      </li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">24</a></li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">25</a></li>
      <li class="page-item active">
        <a class="page-link" href="#" aria-current="page">
          <span class="d-inline-block d-sm-none">Pagina </span>26
        </a>
      </li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">27</a></li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">28</a></li>
      <li class="page-item d-none d-sm-flex">
        <span class="page-link d-none d-sm-flex">...</span>
      </li>
      <li class="page-item d-none d-sm-flex"><a class="page-link" href="#">50</a></li>
      <li class="page-item">
        <a class="page-link" href="#">
          <span class="sr-only">Pagina successiva</span>
          <svg class="icon icon-primary"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-chevron-right"></use></svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
