<div class="tab-pane p-4 fade" id="tabpan-rifcontratto" role="tabpanel" aria-labelledby="Riferimenti contrattuali">
  <div class="row d-flex justify-content-between">
    <div><label>Numero:</label><span>20190523</span></div>
    <div><label>Tipologia:</label><span>RDL Approvata</span></div>
    <div><label>Inizio risorsa:</label><span>01/07/2019</span></div>
    <div><label>Scadenza risorsa:</label><span>30/06/2020</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Società Mandataria:</label><span>KPMG</span></div>
    <div><label>Società Fornitore:</label><span>BV Tech spa</span></div>
    <div><label>Contratto gara:</label><span>0548/17 - SS16L2D</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Struttura:</label><span>W712 - Governo dell'offerta</span></div>
    <div><label>Responsabile 1° livello:</label><span>Conte Riccardo</span></div>
    <div><label>Struttura 1° livello:</label><span>D700 - Servizi Welfare Regionale</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Referente:</label><span>Rubino Giovanni</span></div>
    <div><label>Resp. referente:</label><span>Rossetti Claudio</span></div>
    <div><label>Tipologia risorsa:</label><span>Consulente operativo</span></div>
    <div><label>Ruolo tecnico:</label><span>Analista programmatore</span></div>
  </div>
</div>
