<div class="tab-pane p-4 fade" id="tabpan-badge" role="tabpanel" aria-labelledby="Dati Badge">
  <div class="row d-flex justify-content-between">
    <div><label>Sede:</label><span>Tutte</span></div>
    <div><label>Aree securizzate:</label><span>No</span></div>
    <div><label>Numero badge:</label><span>3124783237</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Data Inizio:</label><span>01/07/2019</span></div>
    <div><label>Scadenza:</label><span>30/06/2020</span></div>
    <div><label>Ore mensili (stima):</label><span>160</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Data Richiesta:</label><span>01/07/2019</span></div>
    <div><label>Consegna:</label><span>03/07/2019</span></div>
    <div><label>Stato:</label><span>Attivo</span></div>
  </div>
</div>
