<div class="tab-pane p-4 fade show active" id="tabpan-anagrafica" role="tabpanel" aria-labelledby="Dati anagrafici consulente">
  <div class="row d-flex justify-content-between">
    <div><label>Cognome:</label><span>Calcante</span></div>
    <div><label>Nome:</label><span>Roberto</span></div>
    <div><label>Cofice Fiscale:</label><span>CLCRBT29A76I863C</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Data nascita:</label><span>26/01/1976</span></div>
    <div><label>Comune nascita:</label><span>Caltanisetta</span></div>
    <div><label>Stato nascita:</label><span>Italia</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Residenza</label></div>
    <div><label>Indirizzo:</label><span>piazza Marconi 1</span></div>
    <div><label>Comune:</label><span>Vimercate</span></div>
    <div><label>Provincia:</label><span>MB</span></div>
    <div><label>Cap:</label><span>20910</span></div>
  </div>
</div>
