<div class="tab-pane p-4 fade" id="tabpan-utenze" role="tabpanel" aria-labelledby="Utenze abilitate">
  <div class="row d-flex justify-content-between">
    <div><label>Internet:</label><span>Si</span></div>
    <div><label>e-mail:</label><span>Si</span></div>
    <div><label>Dominio:</label><span>No</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Data Inizio:</label><span>01/07/2019</span></div>
    <div><label>Scadenza:</label><span>30/06/2020</span></div>
    <div><label>Stato:</label><span>Attive</span></div>
  </div>
</div>
