<div class="row">
  <div class="col-6">
    <div class="form-group">
      <fieldset id="gruppo2">
        <legend>Cittadinanza</legend>
        <div class="form-check form-check-inline">
          <input name="gruppo2" type="radio" id="radio4" checked>
          <label for="radio4">Italiana</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="gruppo2" type="radio" id="radio5">
          <label for="radio5">Straniera UE</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="gruppo2" type="radio" id="radio6">
          <label for="radio6">Extra UE</label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      {% include html_docs/input/autocompletamento.html %}
    </div>
  </div>
</div>
