<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img ">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="{{ site.baseurl }}/dist/assets/img/bike-sharing.jpg" title="bike sharing" alt="parcheggio bike sharing a Milano"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img ">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="{{ site.baseurl }}/dist/assets/img/palazzo-lombardia.jpg" title="palazzo lombardia" alt="Palazzo Lombardia a Milano"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img ">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="{{ site.baseurl }}/dist/assets/img/palazzo-lombardia-torre.jpg" title="torre palazzo lombardia" alt="Palazzo Lombardia a Milano - dettaglio della torre"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img ">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="https://via.placeholder.com/480x360/ebebeb/808080/?text=Immagine4" title="img title" alt="imagealt"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="https://via.placeholder.com/480x360/ebebeb/808080/?text=Immagine5" title="img title" alt="imagealt"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="it-single-slide-wrapper">
  <div class="card-wrapper">
    <div class="card card-img ">
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="https://via.placeholder.com/480x360/ebebeb/808080/?text=Immagine6" title="img title" alt="imagealt"></div>
        </div>
      </div>
    </div>
  </div>
</div>
