<div class="tab-pane p-4 fade" id="tabpanel2" role="tabpanel" aria-labelledby="dati veicolo 2">
  <div class="row d-flex justify-content-between">
    <div><label>Targa:</label><span>CC123DD</span></div>
    <div><label>Categoria:</label><span>Automobile</span></div>
    <div><label>Telaio (VIN):</label><span>ZFA12345678901234</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Alimentazione:</label><span>Benzina</span></div>
    <div><label>Classe Ambientale:</label><span>Euro 1</span></div>
    <div><label>Data installazione:</label><span>20/09/2019</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Provider:</label><span>TSP1</span></div>
    <div><label>Codice del dispositivo:</label><span>12345678912345678900</span></div>
    <div><label>Campagna di rilevazione:</label><span>01/10/2019 - 31/03/2020*</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Ultimo aggiornamento:</label><span>10/11/2019</span></div>
    <div>
      <label>Stato Adesione:</label>
      <span>Sospesa</span>
      <svg class="icon icon-sm icon-white bg-warning" style="border-radius:100%;"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-warning"></use></svg>
    </div>
    <div><label>Data scadenza:</label><span>22/03/2020</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Km aree limitate:</label><span>7000</span></div>
    <div><label>Km risparmio non urbano:</label><span>1000</span></div>
    <div><label>Km eco-bonus:</label><span>240</span></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div><label>Tot Km a disposiz.:</label><span>8240</span></div>
    <div><label>Km percorsi:</label><span>8240</span></div>
    <div><label>Km residui:</label><span>0</span></div>
  </div>
</div>
