<div class="row">
  <div class="col">
    <fieldset id="group_mezzi3">
      <legend>Mezzi utilizzati</legend>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio3a">
            Auto propria
            <input type="checkbox" id="toggleEsempio3a">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio3b">
            Treno
            <input type="checkbox" id="toggleEsempio3b">
            <span class="lever leverRight"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio3c">
            Car sharing
            <input disabled type="checkbox" id="toggleEsempio3c">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio3d">
            Bike sharing
            <input type="checkbox" id="toggleEsempio3d" checked="checked">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio3e">
            Metro/Tram/Bus
            <input disabled type="checkbox" id="toggleEsempio3e" checked="checked">
            <span class="lever"></span>
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
