<div class="row">
  <div class="col">
    <fieldset id="group_mezzi{{include.es-name}}">
      <legend>Mezzi utilizzati</legend>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1a{{include.es-name}}">
            Auto propria
            <input type="checkbox" id="toggleEsempio1a{{include.es-name}}" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1b{{include.es-name}}">
            Treno
            <input type="checkbox" id="toggleEsempio1b{{include.es-name}}" />
            <span class="lever leverRight"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1c{{include.es-name}}">
            Car sharing
            <input disabled type="checkbox" id="toggleEsempio1c{{include.es-name}}" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1d{{include.es-name}}">
            Bike sharing
            <input type="checkbox" id="toggleEsempio1d{{include.es-name}}" checked="checked" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1e{{include.es-name}}">
            Metro/Tram/Bus
            <input disabled type="checkbox" id="toggleEsempio1e{{include.es-name}}" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
