<div class="row">
  <div class="col">
    <fieldset id="group_mezzi1">
      <legend>Mezzi utilizzati</legend>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1a">
            Auto propria
            <input type="checkbox" id="toggleEsempio1a" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1b">
            Treno
            <input type="checkbox" id="toggleEsempio1b" />
            <span class="lever leverRight"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1c">
            Car sharing
            <input disabled type="checkbox" id="toggleEsempio1c" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1d">
            Bike sharing
            <input type="checkbox" id="toggleEsempio1d" checked="checked" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1e">
            Metro/Tram/Bus
            <input disabled type="checkbox" id="toggleEsempio1e" />
            <span class="lever"></span>
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
