<div class="it-header-slim-wrapper it25-top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="navbar-brand" href="#">
            <img src="{{ site.baseurl }}/dist/assets/img/logo-rl-bianco.png" alt="logo regione lombardia" class="d-md-none">
          </a>
          <div class="header-slim-right-zone">
            <div class="nav-item dropdown">
              <a aria-expanded="false" class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown" href="#">
                <span>ITA</span>
                <svg class="icon icon-white">
                  <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-expand"></use>
                </svg>
              </a>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-12">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="list-item" href="#"><span>ITA</span></a></li>
                        <li><a class="list-item" href="#"><span>ENG</span></a></li>
                        <li><a class="list-item" href="#"><span>ESP</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-icon btn-full" href="#" title="Accedi all'area personale" aria-label="Accedi all'area personale">
                <svg class="icon icon-white">
                  <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-user"></use>
                </svg>
              <span class="d-none d-md-block">Login</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
