<nav class="steppers-nav">
  <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-prev">
    <svg class="icon icon-primary"><use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#it-chevron-left"></use></svg>Indietro
  </button>
  <ul class="steppers-dots it25">
    <li class="done"><span class="visually-hidden">Step 1 di 6 - Confermato</span></li>
    <li class="done"><span class="visually-hidden">Step 2 di 6 - Confermato</span></li>
    <li class="done"><span class="visually-hidden">Step 3 di 6 - Confermato</span></li>
    <li><span class="visually-hidden">Step 4 di 6</span></li>
    <li><span class="visually-hidden">Step 5 di 6</span></li>
    <li><span class="visually-hidden">Step 6 di 6</span></li>
  </ul>
  <button type="button" class="btn btn-primary btn-sm steppers-btn-save">Conferma</button>
</nav>
