<div class="it25-wizard">
<!--  <div class="container"> -->
    <ul>
      <li>
        <div class="it-pin-wrapper confirmed">
          <div class="pin-icon">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-search"></use></svg>
          </div>
        </div>
      </li>
      <li>
        <div class="it-pin-wrapper active">
          <div class="pin-icon">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-calendar"></use></svg>
          </div>
        </div>
      </li>
      <li>
        <div class="it-pin-wrapper">
          <div class="pin-icon">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-list"></use></svg>
          </div>
        </div>
      </li>
      <li>
        <div class="it-pin-wrapper">
          <div class="pin-icon">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/dist/svg/sprite.svg#it-card"></use></svg>
          </div>
        </div>
      </li>
    </ul>
<!--  </div> -->
</div>
