<footer class="it25-footer-mobile">
  <ul>
    <li class="logo">
      <a href="#">
        <img src="{{ site.baseurl }}/dist/assets/img/logo-rl.png" alt="logo regione lombardia" width="95" />
      </a>
    </li>
    <li class="version">
      <label class="f-14"> Versione: <span class="fw-bold">codice</span> </label>
      <label class="f-14"> Revisione: <span class="fw-bold">codice</span> </label>
      <label class="f-14 fw-bold"> &copy; Regione Lombardia </label>
    </li>
  </ul>
</footer>
