//pictures wall version
.upload-pictures-wall {
  //input file
  .upload {
    //button styling
    &[type='file'] + label {
      border: 2px dashed $primary-a1;
      background-color: lighten($primary-a1, 10%);
      color: $primary-a9;

      .icon {
        fill: $primary-a9;
      }

      &:hover {
        border: 2px dashed $primary-a9;
      }
    }

    &:focus,
    &:active {
      &[type='file'] + label {
        border: 2px dashed $primary-a6;
      }
    }
  }
}
