<div class="bd-example-mobile">
  <h3>Componenti</h3>
  <div class="row my-5">
    <div class="col">
      <div class="py-2">{% include html_docs_mobile/profile/info-box.html display="d-none" %}</div>
      <div class="py-2">{% include html_docs_mobile/profile/interactive-card.html displaySvg=false displayCircle=true text='Titolo' %}</div>
      <div class="py-2">{% include html_docs_mobile/home/newsletter.html %}</div>
      <div class="py-2">{% include html_docs_mobile/home/more.html %}</div>
    </div>
    <div class="col">
      <div class="py-2">
        <div class="example-card-sm">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Titolo Sezione' %}</div>
      </div>
      <div class="py-4 mt-3">
        <div class="example-card-sm">{% include html_docs_mobile/assistance/card-image.html title=true class='card-sm' action='Azione' %}</div>
      </div>
      <div class="py-2">
        <div class="icon neutral-1-color f-12">
          <svg class="icon icon-primary">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#it-help-circle-fill"></use>
          </svg>
          Aiuto
        </div>
      </div>
    </div>
  </div>
</div>
