<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <div class="card-title header">
        <span class="title">Titolo Sezione</span>
      </div>
      <div class="it-card-footer justify-content-end">
        <a class="read-more" href="#">
          <span class="text fw-normal">Scopri di più</span>
          <svg class="icon">
            <use href="{{site_baseurl}}/dist/svg/sprites.svg#it-chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
