<div class="card-wrapper it25-info-box">
  <div class="card">
    <div class="card-body">
      <ul class="list-box">
        <li class="me-3">
          <svg class="icon icon-lg icon-primary">
            <use href="{{site.baseurl}}/dist/svg/sprites.svg#it-newsletter"></use>
          </svg>
        </li>
        <li class="textbox">
          <div class="text">Newlsetter</div>
          <div>Lorem ipsum dolor sit amet.</div>
        </li>
        <li class="link">
          <button type="button" class="btn-close btn-xs" aria-label="Close"></button>
          <svg class="icon icon-xs">
            <use href="{{site.baseurl}}/dist/svg/sprites.svg#{{include.icon2}}"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</div>
