<div class="it-header-center-wrapper it25-barra-ist-mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <div class="it25-hamburger-btn-wrapper">
              <svg class="icon icon-sm icon-primary">
                <use xlink:href="{{ site.baseurl }}/dist/svg/sprites.svg#{{include.icon}}"></use>
              </svg>
            </div>
            <div class="it-brand-text secondary-gray-color">{{include.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
