.breadcrumb-container {
  .breadcrumb {
    .breadcrumb-item {
      a {
        font-weight: normal;
        text-decoration: none;
      }
      &.active {
        a {
          font-weight: 700;
          color: $breadcrumb-link-color;
        }
      }
      span.separator {
        font-weight: normal;
      }
    }
  }
}
