/*
.btn-primary {
  &.disabled {
    color: #2a7a38;
  }
  &:disabled {
    color: #2a7a38;
  }
}
*/
.btn-outline-primary {
  &.disabled {
    box-shadow: inset 0 0 0 2px color-hover($white);
  }
}
.btn-outline-secondary {
  &.disabled {
    box-shadow: inset 0 0 0 1px color-hover(#e6e9f2);
  }
}
.btn-outline-danger {
  &.disabled {
    box-shadow: inset 0 0 0 2px #e6e6e6;
  }
}

.btn-xs {
  padding: 6px 8px;
}
.btn-tag {
  font-size: $card-category-size;
  letter-spacing: $card-category-l-spacing;
  padding: 1.5px $v-gap * 4;
  border-radius: $tag-radius;
}
.btn-icon {
  span {
    & + * {
      margin-left: 0.25em;
    }
  }
}
