.it-card,
article.it-card {
  border-radius: 16px;
  &.it25-text-only {
    border-radius: 0;
  }
  padding: 1rem;
  .it-card-title {
    color: $black;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .it-card-body {
    color: $black;
    .it-card-text {
      color: $black;
    }
  }
  .it-card-date {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .it-card-footer {
    border-top: 0;
  }
  .badge {
    width: fit-content;
    margin: 0 0 0 1rem;
    border-radius: 4px;
  }
  hr {
    border-color: $primary;
    opacity: 1;
  }
  &.it25-card-lg {
    .it-card-title {
      margin-top: 0.5rem;
      font-size: 2rem;
    }
  }
  img {
    &.rounded {
      border-radius: 16px !important;
    }
  }
  &.it25-card-outline {
    border: 2px solid $primary;
    background-color: $white;
  }
  &.it25-card-primary {
    border: 2px solid $white;
    background-color: $primary;
    color: $white;
    .it-card-title {
      color: $white;
    }
    .it-card-body {
      color: $white;
      .it-card-text {
        color: $white;
      }
    }
    .badge {
      color: $white;
      border-color: $white;
    }
    .btn {
      &.btn-outline-primary {
        background-color: $white;
      }
    }
  }
  &.it25-card-dark {
    border: 2px solid $dark;
    background-color: $dark;
    color: $white;
    .it-card-title {
      color: $white;
    }
    .it-card-body {
      color: $white;
      .it-card-text {
        color: $white;
      }
    }
    .badge {
      color: $white;
      border-color: $white;
    }
    hr {
      border-color: $white;
      opacity: 1;
    }
  }
}
