.card {
  border-radius: 8px;
  .img-responsive-wrapper.rounded-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
  .card-header {
    //background-color: #e5e5e5;
    background-color: adjust-color(#e5e5e5, $lightness: 3%);
    font-weight: 700;
    font-size: 1.125rem;
    padding: 12px 24px;
    border: none;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    a {
      color: $primary;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .btn-xs {
    padding: 5px 10px;
    font-weight: 700;
    font-size: $btn-font-size-sm;
  }

  .card-tag {
    color: $primary;
    border: 1px solid $primary;
  }
  .card-body {
    .category-top {
      text-transform: unset;
      a {
        text-decoration: none;
      }
    }
    .card-title {
      color: inherit;
    }
    .card-text {
      color: unset;
      font-family: unset;
      font-size: 1.125rem;
      line-height: unset;
    }
  }
  .card-link {
    text-decoration: underline;
  }
  &:after {
    content: none;
  }
  a.read-more {
    bottom: 0;
    font-size: 1rem;
  }
}

// inizio TODO eliminare con componenti per il mobile
.it25-card-conditions {
  display: block;
  background: #ffffff;
  box-shadow: 0px 8px 13px rgba(0, 51, 84, 0.1);
  border-radius: 10px;
  padding: 25px;

  .it25-scroll {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
      height: 0.5em;
      background: #f2f2f2;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 3px;
    }
  }

  .conditions-body {
    padding: 10px 20px 10px 0;
    .conditions-title {
      color: $primary-blue;
      font-size: 20px;
      font-weight: 700;
      display: flex;
      span {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }

    .conditions-text {
      font-size: 16px;
      padding-bottom: 24px;
    }
  }
}
// fine TODO eliminare con componenti per il mobile

.it-card,
article.it-card {
  border-radius: 8px !important;
  border-style: none !important;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1) !important;
  .it-card-title {
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .it-card-image-wrapper {
    img {
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
    }
  }
  footer {
    .it-card-category {
      padding-left: 8px;
      padding-right: 8px;
      text-transform: none;
      text-decoration: none;
      color: $primary;
      font-weight: 600;
      font-size: 1.25rem;
      &:hover {
        color: rgb(33, 97, 45);
        text-decoration: underline;
      }
    }
  }
  .it-card-body {
    padding-left: 24px;
    padding-right: 24px;
    .it-card-text {
      font-size: 1.125rem;
      color: rgb(26, 26, 26);
    }
    footer {
      .it-card-category {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .btn-xs {
    padding: 5px 10px;
    font-weight: 700;
    font-size: $btn-font-size-sm;
  }
}
