/* Tutti */
.footer {
  color: #fff;
  background-color: $neutral-1;
  padding: $spacer;

  a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
  }
  nav {
    ul {
      margin-bottom: 0;
      font-weight: 600;
    }
  }
}
