label.output {
  position: absolute;
  transform: translateY(-75%);
  font-size: 0.777rem;
  font-weight: 600;
}

div.output-field {
  padding: 8px;
  font-weight: 700;
}

.form-group {
  input,
  optgroup,
  textarea {
    color: $black;
  }
}

.form-control:disabled {
  //background-color: transparent;
  background-color: $neutral-2;
  opacity: 0.7;
}
.form-control {
  background-color: transparent;
}

.form-check {
  [type='checkbox'] {
    &:disabled.semi-checked + label::after {
      background-color: #b1b1b3;
      border-color: #e6e9f2;
    }
  }
  input.semi-checked:not(:checked) + label::after {
    border-color: $primary; // TODO: Not found
    background-color: $primary; // TODO: Not found
  }
}
