$primary-h: 210 !default;
$primary-s: 100 !default;
$primary-b: 80 !default;

// black
.black-bg {
    background-color: $black !important;
  }
  .black-color {
    color: $black !important;
  }
  .black-border-color- {
    border-color: $black !important;
    &.border {
      border-color: $black !important;
    }
  }