$it25-top-bar-height-shrink: 20px;
$it25-barra-ist-height-shrink: 50px;
$it25-barra-utente-min-height: 28px;

// Tables
// $table-cell-padding: 1em !default;
$table-border-color: #d6dce3 !default;
$table-cell-text-align: left !default;
// $table-accent-bg: #f6f7f9 !default;
// $table-hover-bg: #e5f1fa !default;