header {
  position: sticky;
  top: 0;
  transition: 0.4s;
  z-index: 3;
}

.it25-top-bar {
  height: $header-slim-height;

  .it-header-slim-wrapper-content {
    .navbar-brand {
      img {
        height: 40px;
      }
    }
    .header-slim-right-zone {
      font-weight: 600;
    }
  }

  &.shrink {
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 3;
    height: $it25-top-bar-height-shrink;
  }

  &.thin {
    @media (min-width: #{map-get($grid-breakpoints, md)}) {
      height: $it25-top-bar-height-shrink;
    }
  }

  .dropdown-menu[data-bs-popper] {
    top: 100% !important;
  }
}

.it-header-slim-wrapper {
  .it-header-slim-wrapper-content {
    .header-slim-right-zone {
      .btn-full {
        padding: 17px;
      }
    }
  }
}

.it25-barra-ist {
  top: $it25-top-bar-height-shrink;
  transition: 0.4s;
  z-index: 3;
  border-bottom: 1px solid $neutral-1-a1;

  .it-header-center-content-wrapper {
    .it-brand-wrapper {
      display: flex;
      img {
        height: 41px;
        @media (min-width: #{map-get($grid-breakpoints, lg)}) {
          height: 54px;
        }
        margin-right: 24px;
      }
      .it-brand-text {
        line-height: 1.555;
        font-weight: 700;
      }
      .it25-hamburger-btn-wrapper {
        margin-right: 10px;
      }
    }
    .it-search-wrapper {
      margin: 4px 0;
      border-bottom: 1px solid $input-border;

      input[type='search'] {
        border-bottom: 0;
      }
    }
  }

  img.it25-header-logo {
    display: none;
    @media (min-width: #{map-get($grid-breakpoints, md)}) {
      display: block;
    }
  }

  .it25-btn-menu,
  .close-menu {
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .it25-close-div {
    display: none;
    .btn {
      padding: 1px 6px;
    }

    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
      display: none;
    }
  }

  &.shrink {
    position: sticky;
    height: $it25-barra-ist-height-shrink;

    img.it25-header-logo {
      height: 36px;
      margin-left: 12px;
      display: block;
      @media (min-width: #{map-get($grid-breakpoints, lg)}) {
        height: 40px;
      }
    }

    &.it-header-center-wrapper {
      @media (min-width: #{map-get($grid-breakpoints, lg)}) {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    input[type='search'] {
      height: 1.5rem;
    }
  }

  @media (min-width: #{map-get($grid-breakpoints, lg)}) {
    .custom-navbar-toggler {
      &.it25-btn-menu {
        display: inherit;
      }
    }
  }
}

.custom-circle-icon {
  border: 1px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.menu-hamburger {
  width: 20rem;
  height: calc(100vh - $header-center-max-height-mob - $header-slim-height);
  @media (min-width: #{map-get($grid-breakpoints, lg)}) {
    height: calc(100vh - $header-center-max-height - $header-slim-height);
  }
  background-color: $white;
  position: absolute;
  display: none;
  .it25-sidebar-wrapper {
    position: relative;
    top: 0;
    padding: 0;
    z-index: 6;
    height: calc(100vh - $header-center-max-height-mob - $header-slim-height);
    @media (min-width: #{map-get($grid-breakpoints, lg)}) {
      height: calc(100vh - $header-center-max-height - $header-slim-height);
    }
    .it25-sidebar-links {
      padding: 0;
    }
  }
}

.mr-1 {
  margin-right: ($spacer * 0.25) !important;
}
.mr-2 {
  margin-right: ($spacer * 0.5) !important;
}
.ml-1 {
  margin-left: ($spacer * 0.25) !important;
}
.ml-2 {
  margin-left: ($spacer * 0.5) !important;
}

.pr-1 {
  padding-right: ($spacer * 0.25) !important;
}
.pr-2 {
  padding-right: ($spacer * 0.5) !important;
}
.pl-1 {
  padding-left: ($spacer * 0.25) !important;
}
.pl-2 {
  padding-left: ($spacer * 0.5) !important;
}

.top-80 {
  top: 80% !important;
}
