.it25-top-bar {
  &.it-header-slim-wrapper {
    height: $header-slim-height;
    padding: 2px 4px;
  }
  .it-header-slim-wrapper-content {
    .navbar-brand {
      img {
        height: 21px;
      }
    }
    a {
      &.dropdown-toggle {
        text-transform: none;
        font-size: 1rem;
        padding-right: 0;
      }
    }
    .dropdown-menu {
      border: 1px solid $primary;
      margin-top: 0;
      border-top: 0;
      top: -12px !important;

      &[data-bs-popper] {
        top: 46px !important;
      }

      &:before {
        width: 0;
        height: 0;
      }
    }
  }
}

.it-header-center-wrapper {
  border-bottom: 1px solid #e1e7ea;
  background-color: $white;
  padding-left: 0;
  padding-right: 0;
  .it-header-center-content-wrapper {
    .it25-left-zone {
      align-items: center;
    }
    .it-brand-wrapper {
      margin-left: 6px;
      .it25-header-logo {
        margin-right: $header-center-icon-margin;
        height: 32px;
      }
      .it-brand-text {
        margin-left: 12px;
      }
      .it-brand-title {
        font-size: $header-center-h2-size-mob;
        font-weight: $header-center-h2-weight;
      }
    }
    .it-search-wrapper {
      a {
        &.rounded-icon {
          width: $header-center-search-size;
          height: $header-center-search-size;
          border-radius: $header-center-search-radius;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          background-color: white;

          &:hover {
            background: tint-color($primary, 90%);
          }

          svg {
            fill: $primary;
            width: $header-center-search-icon-size;
            height: $header-center-search-icon-size;
          }
        }
      }
    }
  }
}

.it-header-wrapper {
  // bottone hamburger menu orizzontale
  .it-nav-wrapper {
    .it-header-navbar-wrapper {
      nav {
        padding-left: 0;
        .custom-navbar-toggler {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
    }
  }
  &.it-header-sticky {
    &.is-sticky {
      @include media-breakpoint-up(lg) {
        .it-header-center-wrapper {
          &.no-menu {
            display: flex;
            border-bottom: 1px solid #e1e7ea;
          }
        }
        .it-header-navbar-wrapper {
          .menu-wrapper {
            .it-search-wrapper {
              a {
                &.rounded-icon {
                  background: $primary;
                  &:hover {
                    background: darken($primary, 5%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.it25-hamburger-btn-wrapper {
  #btn-hamburger {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.it25-header-menu-vert {
  background: $header-center-bg-color;
  height: $header-center-max-height-mob;
  display: flex;
  align-items: center;
  //padding-left: $header-general-padding - ($grid-columns * 0.5);
  //padding-right: $header-general-padding - ($grid-columns * 0.5);
}

#it25-menu-vert {
  width: 20rem;
  overflow: auto;
  height: calc(var(--it25-menuvert-height) * 1px);
  background-color: $white;
  position: absolute;
  display: none;
}

.navbar {
  .navbar-collapsable {
    .menu-wrapper {
      background: $white;
    }
    .navbar-nav {
      li.nav-item {
        a.nav-link,
        button.nav-link {
          color: $black;
          &.dropdown-toggle {
            svg {
              fill: $black;
            }
          }
        }
      }
    }
    &.expanded {
      .it25-header-logo {
        display: none;
      }
    }
  }
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .it25-top-bar {
    &.it-header-slim-wrapper {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .it-header-slim-wrapper-content {
      a {
        &.dropdown-toggle {
          padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
        }
      }
      .dropdown-menu {
        top: -18px !important;

        &[data-bs-popper] {
          top: 48px !important;
        }
      }
    }
  }

  .it-header-wrapper {
    .it-nav-wrapper {
      .it-header-navbar-wrapper {
        nav {
          padding-left: $v-gap * 4.5;
          padding-right: $v-gap * 4.5;
        }
      }
    }
    &.it-header-sticky {
      &.is-sticky {
        .it-header-center-wrapper {
          &.it25-header-sidebar,
          &.it25-header-menu-vert {
            display: flex;
            border-bottom: 1px solid #e1e7ea;
          }
        }
      }
    }
  }

  .it-header-center-wrapper {
    border-bottom: none;
    .it-header-center-content-wrapper {
      .it25-hamburger-btn-wrapper {
        margin-left: -12px;
        #btn-hamburger {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      .it-brand-wrapper {
        .it25-header-logo {
          height: 48px;
        }
        .it-brand-title {
          font-size: $header-center-h2-size;
          margin-bottom: 0;
          font-weight: $header-center-h2-weight;
        }
      }
      .it-search-wrapper {
        margin-left: $header-center-search-distance;
        a {
          &.rounded-icon {
            width: $header-center-search-size;
            height: $header-center-search-size;
            background-color: $primary;
            margin-right: $v-gap * 2;
            &:hover {
              background: darken($primary, 5%);
            }
            svg {
              fill: $header-center-bg-color;
            }
          }
        }
      }
    }
  }

  .it-header-navbar-wrapper {
    .it-search-wrapper {
      a {
        &.rounded-icon {
          width: 36px;
          height: 36px;
          border-radius: $header-center-search-radius;
          background: $primary;
          margin-left: $v-gap * 2;
          transition: all 0.3s;
          background-color: $primary;
          &:hover {
            background: darken($primary, 5%);
          }
          svg {
            fill: $header-center-bg-color;
          }
        }
      }
    }

    img.it25-header-logo {
      height: 36px;
    }

    &.it25-menu-orizzontale {
      border-bottom: 1px solid #e1e7ea;
    }
  }
}
