.link-list-wrapper {
  ul {
    li {
      a {
        span {
          color: $black;
          //.list-item-title {
          //color: $primary;
          //text-decoration: underline;
          //}
        }
        &:hover:not(.disabled) {
          span {
            color: $primary;
          }
        }
        &:active {
          span {
            color: $primary-v8;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
