.it-list-wrapper {
  .it-list {
    .list-item {
      .it-rounded-icon {
        svg {
          fill: $primary;
        }
      }
      .it-right-zone {
        .text {
          font-weight: 400;
        }
      }
    }
    a.list-item:active {
      color: $primary-v8;
    }
    a.list-item:hover {
      color: $primary-700;
    }
  }
}

//Desktop
@include media-breakpoint-up(xl) {
  .it-list-wrapper {
    .it-list {
      a.list-item:hover {
        box-shadow: none;
        background: transparent;
        border-bottom-color: $list-border-color;
        color: $primary-700;
      }
    }
  }
}
