@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .navbar.has-megamenu {
    .navbar-collapsable {
      .navbar-nav {
        li.megamenu {
          a.nav-link {
            // color: $navigation-link-color;
            color: $navigation-link-color-desk;
          }
        }
      }
    }
  }
}
.navbar.has-megamenu {
  .custom-navbar-toggler {
    svg {
      fill: $white;
    }
  }
}
.it25-menu-principale,
.it-header-navbar-wrapper {
  .navbar.has-megamenu {
    .navbar-collapsable {
      .navbar-nav {
        li {
          a.nav-link {
            color: $gray-primary;
          }
        }
      }
    }
    .custom-navbar-toggler {
      svg {
        fill: $gray-primary;
      }
    }
  }
}
