.navbar {
  .dropdown-menu {
    .link-list-wrapper {
      ul li {
        a {
          &.list-item {
            &.active {
              color: #505051;
              text-decoration: none;
              font-weight: 600;

              span {
                color: #505051;
              }
            }
          }
          &.disabled {
            cursor: not-allowed;
            span {
              color: $gray-disabled;
            }
          }

          span {
            color: #505051;
          }

          i {
            color: #505051;
          }
        }
      }
    }
  }
}
