nav.pagination-wrapper {
  ul.pagination {
    margin-bottom: 0;
  }

  @media (min-width: #{map-get($grid-breakpoints, sm)}) {
    justify-content: flex-end;
  }
}

@include media-breakpoint-up(sm) {
  .pagination {
    .page-item {
      .page-link {
        &[aria-current] {
          background-color: $primary;
          color: $white;
          border-radius: 100%;
        }
      }
    }
  }
}
