.popover {
  border: 1px solid $lightgrey-c1;
  box-shadow: 0 0 8px 5px rgba(50, 50, 50, 0.15);

  .popover-header {
    text-transform: unset;
    color: $complementary-3;
    letter-spacing: normal;
  }

}
