.popover {
  box-shadow: none;
  &.grey-bg {
    --bs-popover-bg: #d9dadb;
  }
  .popover-body {
    padding-top: 0.25rem;
    line-height: 120%;
    font-size: 1rem;
    color: #2f475e;
    @include media-breakpoint-up(sm) {
      line-height: 150%;
      font-size: 1.125rem;
    }
    a.popover-inner-link {
      font-weight: $font-weight-semibold;
      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
      //link icon
      .icon {
        height: $v-gap * 3;
        width: $v-gap * 3;
      }
    }
  }
  .popover-header {
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }
    font-weight: 400;
    color: #1a1a1a;
    letter-spacing: normal;
  }
}
