.nav-tabs {
  //tabs with icon and text
  &.nav-tabs-icon-text {
    &.icon-right {
      //icons
      .icon {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }
  //vertical tabs
  &.nav-tabs-vertical {
    &.nav-tabs-vertical-background {
      .nav-link.active,
      .nav-item.show .nav-link {
        //background-color: $neutral-1-a1;
      }
    }
  }
  //link element
  .nav-link {
    font-weight: 400;
    color: $grey-600;
    .icon {
      fill: $grey-600;
    }
    &.disabled {
      color: $grey-300;
      .icon {
        fill: $grey-300;
      }
    }
    &.active {
      font-weight: 600;
    }
    &:hover {
      font-weight: 600;
      .icon {
        fill: $primary;
      }
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: transparent;
    border-bottom-color: $primary;
    border-bottom-width: 3px;
    color: $primary;
  }

  &.nav-dark {
    background-color: $primary;
    border-bottom: 1px solid white;
    .nav-link {
      color: white;
      .icon {
        fill: white;
      }
      &:hover {
        color: white;
        .icon {
          fill: white;
        }
      }
      &.disabled {
        color: $grey-300;
        & .icon {
          fill: $grey-300;
        }
      }
    }
    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: $primary;
      border-bottom-color: white;
      border-bottom-width: 3px;
      color: white;
      .icon {
        fill: white;
      }
    }
  }
}
