.table {
  th {
    //background-color: #edf7ed;
    font-weight: 600;
  }
  &.table-sm {
    td {
      .btn-xs {
        padding: 0
      }
    }
  }
  &.it25-sm {
    tr {
      height: 48px;
    }
    thead,
    tbody {
      vertical-align: middle;
    }
    td {
      .btn-xs {
        padding: 0
      }
    }
  }
  &.it25-md {
    tr {
      height: 80px;
    }
    thead,
    tbody {
      vertical-align: middle;
    }
  }
}
