.nav-tabs {
  //tabs with icon and text
  &.nav-tabs-icon-text {
    &.icon-right {
      //icons
      .icon {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }
  //vertical tabs
  &.nav-tabs-vertical {
    &.nav-tabs-vertical-background {
      .nav-link.active,
      .nav-item.show .nav-link {
        background-color: $neutral-1-a1;
      }
    }
  }
}
