.it25-border-xs {
  border-width: 1px !important;
  opacity: 0.5;
}
.it25-border-sm {
  border-width: 1px !important;
}
.it25-border-base {
  border-width: 2px !important;
}
.it25-radius-smooth {
  border-radius: 4px;
}
.it25-radius-smoother {
  border-radius: 16px;
}
.it25-radius-mobile-round {
  border-radius: 40px;
}
.it25-radius-web-round {
  border-radius: 48px;
}
.it25-radius-circle {
  border-radius: 80px;
}
