$header-slim-links-padding: 10px;
$header-slim-ul-border: 0;
$header-center-small-height: 94px;
$header-center-small-mob-height: 94px;

// Links
$link-decoration: none;

//HEADER
//Header slim
$header-slim-height: 56px;
$header-slim-bg-color: $primary;
//header-center
$header-center-bg-color: $white;
$header-center-text-color: $gray-primary;
$header-center-max-height: 94px;

// Navigation
$navigation-toggle-button-icon-color: $primary;
$navigation-link-active-bar-color-desk: $primary;
