// PRIMARY COLORS DEFINITION //
$primary-h: 131 !default;
$primary-s: 66 !default;
$primary-b: 47.7 !default;
$primary: hsb($primary-h, $primary-s, $primary-b) !default;

// Green
$primary-50: #e4f6e8;
$primary-100: #caedd0;
$primary-200: #98dca4;
$primary-300: #62ca76;
$primary-400: #3bb050;
$primary-500: $primary;
$primary-600: #21632d;
$primary-700: #184921;
$primary-800: #113217;
$primary-900: #08170a;

// Cold
$primary-v7: #00aec3;
$primary-v6: #08b0a0;
$primary-v5: #009b6f;
// Hot
$primary-v4: #009e3d;
$primary-v3: #52ae32;
$primary-v2: #95c11f;
$primary-v1: #005d31;
// News
$primary-v8: #00362e;
$primary-v9: #187a6a;
$primary-v10: #edf7ed;

// Warm
$primary-g1: #eeaa38;

// NEUTRAL COLORS DEFINITIONS
$neutral-1-h: 0;
$neutral-1-s: 0;
$neutral-1-b: 0;
$neutral-1: hsb($neutral-1-h, $neutral-1-s, $neutral-1-b);
$neutral-2-h: 205;
$neutral-2-s: 26;
$neutral-2-b: 51;
$neutral-2: hsb($neutral-2-h, $neutral-2-s, $neutral-2-b);

// Grey
$grey: #5f7381;

// Greys
$grey-50: #fbfbfb;
$grey-100: #f6f7f9;
$grey-200: #e6e9f0; // Disabled
$grey-300: #b9c5cc;
$grey-400: #91a3b0;
$grey-500: $grey;
$grey-600: #556875;
$grey-700: #4a5b66;
$grey-800: #404d57;
$grey-900: #293339;

// Triadici
$complementary-1-h: 3.3;
$complementary-1-s: 75;
$complementary-1-b: 78.4;
$complementary-1: hsb($complementary-1-h, $complementary-1-s, $complementary-1-b) !default;
$complementary-2-h: 31.5;
$complementary-2-s: 77.2;
$complementary-2-b: 94.5;
$complementary-2: hsb($complementary-2-h, $complementary-2-s, $complementary-2-b) !default;
$complementary-3-h: 119;
$complementary-3-s: 45;
$complementary-3-b: 68.6;
$complementary-3: hsb($complementary-3-h, $complementary-3-s, $complementary-3-b) !default;

// Info Colors
$danger: $complementary-1;
$warning: $complementary-2;
$success: $complementary-3;
$info: hsb(210, 100, 90);

//TODO remove
$primary-blue: hsb(204, 100, 33.1) !default;
$primary-gray: hsb(201, 32.1, 51.4) !default;
$it25-gray: $grey-500;
