<div class="device mt-5">
  <div class="it-example-modal">
    <div class="modal" tabindex="-1" role="dialog" id="modal2" aria-labelledby="modal2Title">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <svg class="icon mb-2"><use href="{{ site.baseurl }}/dist/svg/sprites.svg#it-warning-fill"></use></svg>
            <div class="modal-title fw-bold f-24 primary-blue-color">Attenzione</div>
          </div>
          <div class="modal-body text-center">Per procedere devi confermare di aver letto e compreso l’informativa ai trattamento dei dati personali.</div>
          <div class="modal-footer justify-content-center">
            <button class="btn btn-primary btn-mobile-radius" type="button">Torna</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
